@font-face {
    font-family: "Kashima Demo";
    src: url("Kashima Demo.otf") format("opentype");

    
}

.bostonEffect{
    background-image: url("../assets/images/boston4.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.box {
    margin: 2rem;
    margin-left: 15rem;
    
}
.carouselBoston{
    width: 56%;
    height: auto;
    margin-left: 22%;
    margin-bottom: 3rem;
}

.text{
    font-family: "opentype";
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 2rem;
}