.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    width: 100%;
}
.titre {
    text-align: center;
    justify-content: center;
    align-items: center;
}