@font-face {
    font-family: "Kashima Demo";
    src: url("Kashima Demo.otf") format("opentype");

    
}

.svalbardEffect{
    background-image: url("../assets/images/Viking4.jpg");
    background-attachment: fixed;
}

.box {
    margin: 3rem;
    margin-left: 15rem;
    display: grid;
    justify-content: center;
    
}

.carousselSvalbard{
    width: 56%;
    height: auto;
    margin-left: 22%;
    margin-bottom: 3rem;
}

.text{
    font-family: "opentype";
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 2rem;
}